
@{
    ViewData["Title"] = "Home";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="text-center">
    <h1 class="text-center text-danger">Login To Perform CRUD Operation</h1>
    <br />
    <br />
     <a class="text-capitalize" href="../identity/Account/login"><h1>Login</h1></a>
</div>



